/*{outline:1px solid #f00}*/

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

html {font-size:10px}
body {font-size:1.6rem}


.header {display:flex;justify-content:space-between;position:fixed;top:0;left:0;padding:0 2rem;line-height:7rem;color:#333;width:100%;font-size:2rem;min-width:1900px;z-index:999;}
/* .header.on {background:rgba(0,0,0,0.75);} */


.header>nav {padding:3rem;}
.header ul {display:flex;line-height:2rem;}
.header ul>li {padding:0 3rem;}
.header ul>li a {display:block;position:relative;}
.header ul>li a:after {content:"";display:block;width:0;height:2px;background:#b36161;position:absolute;top:3.5rem;left:50%;transform:translateX(-50%);transition:0.3s;}
.header ul>li a:hover:after {width:70%;}


#main .section_con01 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;}
#main .section_con01 h2 {font-family: 'Hahmlet', serif;font-weight:400;font-size:10rem;color:rgb(29, 25, 25);opacity:0;}
#main .section_con01 span {font-family: 'Hahmlet', serif;font-weight:300;font-size:3.8rem;color:rgb(29, 25, 25);opacity:0;}
#main .section_con01 p {font-family: 'Hahmlet', serif;font-weight:100;font-size:2.8rem;color:rgb(29, 25, 25);opacity:0;}

#main .section_con01 {background:url(../img/main_visual02.jpg) no-repeat center center/cover;height:80rem;}
#main .section_con01.on h2 {position: absolute;top:50%;left:65%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:400;font-size:5rem;color:rgb(29, 25, 25);opacity:1;transition:0.5s;}
#main .section_con01.on span {position: absolute;display:block;top:57%;left:67%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:300;font-size:3rem;color:rgb(29, 25, 25);opacity:1;transition:0.5s 0.7s;}
#main .section_con01.on p {position: absolute;display:block;top:61%;left:62.7%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:300;font-size:2rem;color:rgb(29, 25, 25);opacity:1;transition:0.5s 1s;}


@media (max-width:768px) {
    .header {display:flex;flex-wrap: nowrap;justify-content:space-between;position:fixed;top:0;left:0;padding:0 2rem;line-height:7rem;color:#333;width:100%;font-size:1.3rem;min-width:auto;z-index:999;}
    /* .header.on {background:rgba(0,0,0,0.75);} */
    
    
    .header>nav {padding:3rem;width:100%;}
    .header ul {display:flex;line-height:2rem;}
    .header ul>li {padding:0 3rem;}
    .header ul>li a {display:block;position:relative;}
    .header ul>li a:after {content:"";display:block;width:0;height:2px;background:#b36161;position:absolute;top:3.5rem;left:50%;transform:translateX(-50%);transition:0.3s;}
    .header ul>li a:hover:after {width:70%;}
    
}



/* 
#main .section_con01 {position: relative;background:url(../img/main_visual02.jpg) no-repeat center center/cover;height:80rem;}
#main .section_con01 h2 {position:absolute;top:50%;left:65%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:400;font-size:5rem;color:rgb(29, 25, 25);opacity:0;}
#main .section_con01 span {position:absolute;top:57%;left:68%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:300;font-size:3rem;color:rgb(29, 25, 25);opacity:0;}

#main .section_con01 {position: relative;background:url(../img/main_visual02.jpg) no-repeat center center/cover;height:80rem;}
#main .section_con01.on h2 {position:absolute;top:50%;left:65%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:400;font-size:5rem;color:rgb(29, 25, 25);opacity:1;transition:0.5s;}
#main .section_con01.on span {position:absolute;top:57%;left:68%;transform:translate(-50%,-50%);font-family: 'Hahmlet', serif;font-weight:300;font-size:3rem;color:rgb(29, 25, 25);opacity:1;transition:0.5s 0.7s;}

 */

.section_con02 {width:100%;margin:0 auto;}
/* .section_con02 .color {position: absolute;left:0;margin-top:40rem;width:120rem;height:16rem;background: rgb(198, 237, 250);z-index:998;} */
.section_con02 h2 {text-align: center;font-size:3rem;}
/* .section_con02 .container {position: relative;} */
.section_con02 .box {display: flex;width:100%;}


.section_con02 .cop01 {width:60rem;height:100vh;;background:#bbdefb;opacity:0;transform:translate(-50rem);} 
.section_con02.on .cop01 {opacity:1;transform:translate(0);transition:0.5s;} 


.section_con02 .cop01 h2 {position: relative;margin-top:75%;font-family: 'Hahmlet', serif;font-weight:400;font-size:3.8rem;}
.section_con02 .cop01 h2::after {position:absolute;top:6rem;left:50%;transform: translateX(-50%);display: block;content:"";width:25rem;height:0.2rem;background:#01579b;}
.section_con02 .cop01 p {padding:5rem 0;;letter-spacing:0.025em;line-height:3rem;font-size:2.2rem;font-weight:400;text-align:center;}
.section_con02 .btn01 {display:block;margin:0 8rem;width:15rem;border:2px solid #01579b;text-align:center;line-height:4rem;border-radius:10px;transition:0.5s;}
.section_con02 a {font-weight:100;}
.section_con02 .btn01:hover:after {display:inline-block;content:"\e9c5";font-size:1.2rem;font-family: xeicon!important;}
.section_con02 .btn01:hover {border-radius:2rem;background:#01579b;color:#fff;}

.section_con02 figure {flex:1}
.section_con02 .cop02 {padding:5rem 0;margin:0 1rem;opacity:0;transform:translateY(-100rem);}
.section_con02.on .cop02 {opacity:1;transform:translate(0);transition:0.8s;}

.section_con02 .cop02 h2 {font-size:2.2rem;text-align:center;padding:1rem 0 1rem 0;font-weight:500;}
.section_con02 .cop02 span {display: block;width:100%;font-size:1.8rem;padding:3rem;text-align:center;}
.section_con02 img {width:100%;margin-top:15rem;}

.section_con02 .cop03 {padding:5rem 0;margin:0 1rem;opacity:0;transform:translateY(100rem);}
.section_con02.on .cop03 {opacity:1;transform:translate(0);transition:1.3s;}
.section_con02 .cop03 h2 {font-size:2.2rem;text-align:center;padding:1rem 0 1rem 0;font-weight:500;}
.section_con02 .cop03 span {display: block;width:100%;font-size:1.8rem;padding:3rem;text-align:center;}
.section_con02 .cop03 img {width:100%;margin-top:15rem;}


.section_con02 .cop04 {padding:5rem 0;margin:0 1rem;opacity:0;transform:translateY(-100rem);}
.section_con02.on .cop04 {opacity:1;transform:translate(0);transition:0.8s;}
.section_con02 .cop04 h2 {font-size:2.2rem;text-align:center;padding:1rem 0 1rem 0;font-weight:500;}
.section_con02 .cop04 span {display: block;width:100%;font-size:1.8rem;padding:3rem;text-align:center;}
.section_con02 .cop04 img {width:100%;margin-top:15rem;}


.section_con02 .cop05 {padding:5rem 0;margin:0 1rem;opacity:0;transform:translateY(100rem);}
.section_con02.on .cop05 {opacity:1;transform:translate(0);transition:1.3s;}
.section_con02 .cop05 h2 {font-size:2.2rem;text-align:center;padding:1rem 0 1rem 0;font-weight:500;}
.section_con02 .cop05 span {display: block;width:100%;font-size:1.8rem;padding:3rem;text-align:center;}
.section_con02 .cop05 img {width:100%;margin-top:15rem;}

.section_con03 .box {display:flex;}
.section_con03 .box .cop03 {display: flex;flex:1}
.section_con03 .cop03 .left  {width:70%;height:100vh;text-align: left;position: relative;background:url(../img/img.jpg) no-repeat center left/cover;transform: translateX(-50%);opacity:0;}
.section_con03.on .cop03 .left  {transform: translateX(0);opacity:1;transition:0.5s;}
.section_con03 .cop03 .left h2 {position:absolute;top:28%;left:50%;width:120rem;transform:translate(-50%,-50%);font-size:6rem;font-weight:900;color: rgb(226, 225, 225);}
.section_con03 .cop03 .left span {position:absolute;top:33%;left:50%;width:120rem;transform:translate(-50%,-50%);font-size:2rem;font-weight:400;color: rgb(0, 0, 0);}

.section_con03 .cop03 .right {width:30%;background: #f7f6f6;transform: translateX(50%);opacity:0;}
.section_con03.on .cop03 .right {transform: translateX(0);opacity:1;transition:0.5s 0.7s;}
/* .section_con03 .cop03 .right {position:absolute;top:28%;right:50%;width:50rem;transform:translate(50%,50%);font-size:4rem;font-weight:900;color: rgb(226, 225, 225);text-align:right;} */
.section_con03 .cop03 .right h3 {margin-top:41%;width:50rem;font-size:4rem;font-weight:700;color:rgb(65, 65, 65);text-align:right;margin-left:3rem;}
.section_con03 .cop03 .right span {position: relative;;display:block;margin-top:1rem;margin-left:3rem;width:50rem;font-size:3.6rem;font-weight:700;color:rgb(58, 58, 58);text-align:center;}
.section_con03 .cop03 .right span:after {position:absolute;top:20rem;left:50%;transform:translate(-50%,-50%);display:block;content:"";width:0.1rem;height:18rem;background:#333;}
.section_con03 .cop03 .right p {display:block;margin:30rem 0 0 3rem;width:50rem;font-size:2rem;color:rgb(65, 65, 65);text-align:center;line-height:2.6rem;}
.section_con03 .cop03 .right strong {color:#222;font-size:5rem;}

 
.section_con04 .container {position:relative;}
/* .section_con04 .water {background: url(../img/옆으로-나오는-물02.png);} */
.section_con04 .water img {position: absolute;top:0;left:0;transform: translate(-50%,-41.5%);width:100%;opacity:0;transition:0.5s;}
.section_con04 .person img {position: absolute;top:0;left:0;transform: translate(0,50%);width:36%;opacity:0;}

.section_con04.on .water img {position: absolute;top:0;left:50%;transform: translate(-50%,-41.5%);width:100%;opacity:1;transition:0.5s;}
.section_con04.on .person img {position: absolute;top:0;left:50%;transform: translate(-55%,-53%);width:36%;opacity:1;transition:0.7s;}

.section_con04 .txt {position:absolute;width:190rem;margin:0 auto;top:0%;left:0;transform: translate(-50%,0);padding:0 1.5rem;text-align:left;opacity:0;}
.section_con04.on .txt {position:absolute;width:190rem;margin:0 auto;top:0%;left:0;transform: translate(0,-200%);padding:0 1.5rem;text-align:left;opacity:1;transition:1.5s;}

.section_con04 .txt h2 {padding:0 7rem;text-align:left;font-size:5.5rem;font-family: 'Hahmlet', serif;font-weight:500;}
.section_con04 .txt span {padding:0 7rem;text-align:left;font-size:3.5rem;font-family: 'Hahmlet', serif;font-weight:300;}

.section_con04 .txt02 {position:absolute;width:190rem;margin:0 auto;top:0%;left:0;transform: translate(-1%,0);padding:0 1.5rem;text-align:left;font-size:0;}
.section_con04.on .txt02 p {position:absolute;margin-bottom:5rem;right:0;transform: translate(1%,100%);padding:0 3rem;line-height:4.5rem;font-size:4rem;font-family: 'Noto Serif KR', serif;font-weight:500;transition:1.8s;}

.section_con05 {position:relative;background:url(../img/sc05-1.png) no-repeat center center/cover;}
.section_con05 .container {width:0%;height:0%;margin:-7rem auto 13rem auto;background:rgb(0, 0, 0, 0.1);padding:5rem;opacity:0;}
.section_con05.on .container {width:70%;height:50%;opacity:1;transition:0.5s;}

.section_con05 h2 {font-size:4rem;}
.section_con05 span {font-size:2.6rem;position: relative;}
.section_con05 span::after {display:block;content:"";position: absolute;top:5rem;left:15%;transform:translate(-50%,-50%,);width:18rem;height:0.2rem;background:#333;}

.section_con05 .info ul {margin-top:7rem;font-size:2.1rem;line-height:3rem;padding:1rem;}
.section_con05 p {margin-top:1rem;font-size:2.1rem;line-height:3rem;}
.section_con05 strong {margin-top:1rem;font-size:1.8rem;font-weight:400;text-align: center;}


.footer {position: fixed;width:100%;padding:3rem;background:rgb(156, 156, 156);}
.footer strong {line-height:6rem;font-weight:400;}
.footer li {line-height:2rem;font-weight:100;}
.footer li:nth-last-child(1) {line-height:6rem;font-weight:100;}

.animated {position:fixed;top:4rem;right:-1.8rem;color:#0d47a1;transform:rotate(90deg); }
.animated a {position:fixed;top:4rem;right:0.8rem;color:#0d47a1;transform:rotate(90deg);font-size:8rem;margin:0;padding:0; }

.fp-tablecell {height:0;}




































