@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{outline:1px solid #f00}

:root {
    --g-c:fc578f
    --g-c:1c1947

}


/*4e32ff
fc578f
1c1947
*/

.wrap {min-width:1900px;}


.header {position:fixed;top:0;left:0;width:100%;min-width:1900px;display:flex;justify-content:space-between;padding:0 2rem;line-height:7rem;color:#f2f2f2;transition:0.5s;z-index:999;}
.header.on {background:rgba(0,0,0,0.7);}

.header h1 {width:11.5rem;}
.header nav>ul {display:flex;font-size:1rem;font-weight:500;}
.header nav>ul a {display:block;padding:0 0.75rem;}

.header .right a {font-size:2rem;font-weight:700;}
.header .right i {padding:0.5rem;border:2px solid #fff;border-radius:50%;margin-right:1rem;}

.visual {position: relative;}
.visual:after {content:"";display:block;width:100%;height:100%;background:rgba(0,0,0,0.4);position:absolute;top:0;left:0;}
.visual .main_slider figure {height:100vh;}
.visual .item01 {background:url(./img/bg_intro01.jpg) no-repeat center center/cover;}
.visual .item02 {background:url(./img/bg_intro02.jpg) no-repeat center center/cover;}
.visual .item03 {background:url(./img/bg_intro03.jpg) no-repeat center center/cover;}

.visual .slogan {position:absolute;top:50%;left:50%;width:60rem;transform:translate(-50%, -50%);color:#fff;text-align:center;z-index:999;}

.visual .slogan strong {display:block;font-size:2rem;margin-bottom:1rem;}
.visual .slogan h2 {font-size:4rem;margin-bottom:1rem;font-family: 'Lato', sans-serif;color:#4e32ff}
.visual .slogan p {font-weight:300;line-height:1.618;}

.visual .slick-dots {position:absolute;width:100%;bottom:3rem;left:0;text-align:center;z-index:999;}
.visual .slick-dots li {display:inline-block;width:5rem;height:0.2rem;background:#fff;border-radius:0.1rem;margin:0 0.25rem;overflow:hidden;}
.visual .slick-dots li button {display:none;}

.visual .slick-dots li.slick-active {}

.visual .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#f00;}
.visual .slick-dots li.slick-active:after {width:100%;transition:3s;}

.content {padding:5rem 0;text-align:center;}
.content h2 {font-size:0.7rem;margin-bottom:0.25rem;}
.content p {font-size:2rem;font-family: 'Lato', sans-serif;color:rgb(243, 198, 140);margin-bottom:1.5rem}
.content .container {display:flex;flex-flow:row wrap;width:60rem;margin:0 auto;}

.content figure {width:50%;padding:0 0.75rem;position: relative;}
.content figure img {max-width:100%;transition:0.4s;}
.content figure .case {display:block;margin-bottom:0.5rem;overflow:hidden;}
.content figure .h3 {font-size:0.7rem;margin-bottom:0.5rem;}
.content figure strong {display:block;font-size:1.25rem;font-weight:500;margin-bottom:0.7rem;}
.content figure .case::before {content:attr(data-prnum);display:block;width:9rem;height:2rem;background:#5bbfdd;color:#fff;padding-left:0.5rem 1rem;line-height:2rem;position:absolute;top:0.75rem;left:0;z-index:998;transition:0.4s;}
.content figure .case:hover img {transform:scale(1.1);}
.content figure .case:hover::before {width:13rem;}

.customer {padding:5rem 0 30rem 0;background:url(./img/bg_main2.jpg) no-repeat center top/cover;text-align:center;color:#fff;}
.customer h2 {font-size:1.5rem;font-weight:500;margin-bottom:2rem;line-height:1.618;}
.customer .container {display:flex;width:60rem;margin:0 auto;}
.customer .container li {flex:1;padding:0 0.75rem;}

.customer .container li a {display:block;background:rgba(0,0,0,0.4);padding:4rem 1.2rem;border-radius:1rem;}

.customer h3 {font-size:1.3rem;font-weight:500;margin-bottom:1rem;line-height:1.618;}
.customer p {font-size:0.7rem;font-weight:300;margin-bottom:2rem;line-height:1.4;}

.footer {padding:4rem 0;text-align:center;font-size:0.65rem;font-weight:300;color:#444}
.footer ul {display:flex;justify-content:center;margin-bottom:0.5rem;}
.footer ul li~li:before {content:"";display:inline-block;width:1px;height:0.5rem;background:#666;margin:0 0.75rem;}
















